*{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(87, 86, 86);
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #3f342a; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #c7c3c3;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  
#front-top{
    background-image: url(./img/5TH-FLOOR_02.jpg);
    background-size: cover;
    margin-top: 0em;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}

#front-top h1{
    font-size: 9em;
    color: azure;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}

#highlight{
    background-color: #4A372B;
    border: 2px solid snow;
    width: 75%;
    margin: auto;
}

img{
    width: 5rem;
    height: 5rem;
}

#highlight h3{
    font-size: 4em;
    color: azure;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}

#choose_bhk{
    border: 2px solid #4A372B;
    margin: 7px;
    background-image: url('./img/004-wood-melamine-subttle-pattern-background-pat.jpg');
    border-radius: 15px;
}

#choose_bhk h2{
    font-size: 3em;
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
}

/* .row{
    margin: 7px;
} */

.animate__animated.animate__zoomIn{
    --animate-duration: 2s;
  }

.blog-item-outer{
    border: 2px solid #4A372B;
    border-radius: 10px;
    width: 20%;
    height: 40vh;
    margin: 30px;
    text-decoration: none;
    font-size: x-large;
    padding: 5rem;
    display: block;
}

.blog-item{
    margin-bottom: 10%;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Arapey', serif;
    /* display: inline-block; */
}

.blog-item a:hover{
    zoom: 1;
}

.bhk1{
    background-image: url('./img/Interior-design-for-1BHK-flat_opening.webp');
    background-repeat: no-repeat;
    background-size: cover;  
}

.bhk2{
    background-image: url('./img/Interiordesigning.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    z-index: 1;  
}

.bhk3{
    background-image: url('./img/3-BHK-Room-Design-Opening-Image.webp');
    background-repeat: no-repeat;
    background-size: cover;   
}

#About{
    /* padding-top: 3px; */
    border: 2px solid #4A372B;
    margin: 7px;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(247, 168, 115);
}

#About h2{
    font-size: 3em;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    /* margin-left: 10px; */
    background-color: #4A372B;
    display: block;
    color: white;
    border-radius: 15px;
}

#Concept{
    border: 2px solid #4A372B;
    margin: 7px;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(247, 168, 115);
}

#Concept h2{
    font-size: 3em;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    /* margin-left: 10px; */
    background-color: #4A372B;
    display: block;
    color: white;
    border-radius: 14px;
}

#contact{
    border: 2px solid #4A372B;
    margin: 7px;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(247, 168, 115);
}

#contact h2{
    font-size: 3em;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    /* margin-left: 10px; */
    background-color: #4A372B;
    display: block;
    color: white;
    border-radius: 14px;
}